<% if user_signed_in? %>
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
        <%= link_to 'Helath Code', root_path, class: "sidebar-brand d-flex align-items-center justify-content-center sidebar-brand-text mx-3" %>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="#">
            <span>Latest Information</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Registration
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <%= link_to 'データ登録',  new_overview_path, class: "nav-link collapsed" %>
        </li>
        
        <!-- Divider -->
        <hr class="sidebar-divider">
        
        <!-- Heading -->
        <div class="sidebar-heading">
        Show
        </div>
    <!-- Nav Item -->
    <li class="nav-item">
        <%= link_to '身体特徴',   physicalfinding_overviews_path, class: "nav-link collapsed" %>
    </li>

    <!-- Nav Item -->
    <li class="nav-item">
        <%= link_to '採血・採尿',   bloodurine_overviews_path, class: "nav-link collapsed" %>
    </li>

    <!-- Nav Item -->
    <li class="nav-item">
        <%= link_to '受診歴',   medeicalcare_overviews_path, class: "nav-link collapsed" %>
    </li>

    <!-- Nav Item -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-table"></i>
            <span>ワクチン接種歴</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

</ul>
<!-- End of Sidebar -->
<% end %>